@model Amit_Khurana.Models.NewsModel
@{
    Layout = null;
}
<!DOCTYPE html>
<style>
    #myList li {
        display: none;
    }

    .hdg_txt_limit {
        line-height: 1.4em;
        height: 3em;
        overflow: hidden;
    }

    .p_txt_limit {
        line-height: 1.4em;
        height: 3em;
        overflow: hidden;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="We are focused on providing legal services with the highest levels of client satisfaction and we will do everything we can to meet your expectations.">
    <meta name="keywords" content="Ravi Dhaliwal, Ravi Dhaliwal PC, Ravinder Pal Singh Dhaliwal, Ravi Dhaliwal Law office, Dhaliwal Law office.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Ow4PHA6WlPeGYUdRN4hZ6EwXdqgv9zesFxvM5q7SfSY" />
    <title>Ravi Dhaliwal PC | Ravinder Pal Singh Dhaliwal | Ravi Dhaliwal Law office</title>
    <!-- Bootstrap -->
    <link href="~/RaviDhaliwal/css/bootstrap.css" rel="stylesheet">
    <link href="~/RaviDhaliwal/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/RaviDhaliwal/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/RaviDhaliwal/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/RaviDhaliwal/css/font.css" rel="stylesheet">
    <link href="~/RaviDhaliwal/css/font-awesome.css" rel="stylesheet">
    <link href="~/RaviDhaliwal/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/RaviDhaliwal/css/style.css" rel="stylesheet">
    <link href="~/RaviDhaliwal/css/media-queries.css" rel="stylesheet">

    <link rel="stylesheet" href="~/RaviDhaliwal/css/nivo-slider.css" type="text/css" media="screen" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/RaviDhaliwal/js/npm.js"></script>
    <script src="~/RaviDhaliwal/js/bootstrap.js"></script>
    <script src="~/RaviDhaliwal/js/bootstrap.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-101400412-1', 'auto');
  ga('send', 'pageview');
    </script>

</head>
<body>

    <div class="background_sect">

        <div class="container">
            <div class="top_logo_sect">
                <div class="col-md-12 col-sm-12">
                    <div class="logo_sctn">
                        <a href="#" onclick="location.href='@Url.Action("Index")'">
                            <img src="../RaviDhaliwal/images/logo.png" alt="" title="" />
                        </a>
                    </div>
                </div>


            </div>
        </div>

        <div class="container">
            <div class="back_border">
                <div class="middle_bg">
                    <div class="top_sect_bg">
                        <div class="col-md-9 col-sm-9">
                            <div class="menu_section">
                                <nav class="navbar navbar-inverse" role="navigation">
                                    <div>
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>

                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav">
                                                <li><a href="#" onclick="location.href='@Url.Action("Index")'">Home</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("profile")'">Profile</a></li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Area of Practice <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" onclick="location.href='@Url.Action("service1")'">Real Estate Law     </a></li>
                                                        <li><a href="#" onclick="location.href='@Url.Action("service2")'">Immigration Law    </a></li>
                                                        <li><a href="#" onclick="location.href='@Url.Action("service3")'">Civil Litigation   </a></li>
                                                        <li><a href="#" onclick="location.href='@Url.Action("service4")'">Business / Corporate Law</a></li>
                                                        <li><a href="#" onclick="location.href='@Url.Action("service5")'">Wills & Estate Planning</a></li>
                                                        <li><a href="#" onclick="location.href='@Url.Action("service6")'">Other Legal Services</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Calculators <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" onclick="location.href='@Url.Action("land_taxcalculator")'">Land Transfer Tax Calculator</a></li>
                                                        <li><a href="#" onclick="location.href='@Url.Action("mortgage_payment")'">Mortgage Payment Calculator</a></li>
                                                        <li><a href="#" onclick="location.href='@Url.Action("cmhc_premium")'">CMHC Premium Calculator</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#" onclick="location.href='@Url.Action("resources")'">Resources</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("disclaimer")'">Disclaimer</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("Contact")'">Contact us</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </nav>


                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="top_right_sect">
                                <h2>CALL: 905-795-1117</h2>
                                <h2>E-MAIL: info@rdpclaw.com</h2>
                            </div>
                        </div>
                    </div>
                    <div class="banner_sct_bg">
                        <div class="col-md-12 col-sm-12">
                            <div class="inner_banner">
                                <img src="../RaviDhaliwal/images/banner1.jpg" data-thumb="../RaviDhaliwal/images/banner1.jpg" alt="" title="" />
                            </div>

                            <div class="middle_content_sct2">
                                <div class="romana_blog_area2 romana_section_padding">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="romana_blog_title romana_section_title">
                                                    <h2>Real Estate News</h2>
                                                   
                                                </div>
                                            </div>
                                            <!-- column End -->
                                        </div>
                                        <!-- row End -->
                                        <div class="row">
                                            <ul id="myList">
                                                @foreach (var item in Model.All_News)
                                                {
                                                    <li class="col-md-4 col-sm-6">
                                                        <article class="romana_single_post news_box">
                                                            <div class="romana_post_title">
                                                                <h2 class="hdg_txt_limit">@item.title</h2>
                                                                @{
                                                    var datetim = Convert.ToDateTime(item.pubDate).ToString("dd/MM/yyyy");
                                                                }
                                                                <h3>Date: <span>@datetim </span></h3>
                                                            </div>
                                                            <div class="romana_post_content">
                                                                <p class="p_txt_limit">@item.description </p>
                                                                <div class="romana_post_btn">
                                                                    <a target="_blank" href="@item.link">Read More</a>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <!-- romana_single_post End -->
                                                    </li>
                                                }

                                                <!-- column End -->

                                            </ul>
                                        </div>
                                        <!-- row End -->
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="romana_load_more_btn">
                                                    <a href="#" id="loadMore">load more</a>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- container End -->
                                    </div>
                                </div>
                            </div>

                            <div class="futer_section">
                                <div class="col-md-8 col-sm-8">
                                    <div class="futer-menu">
                                        <ul>
                                            <li><a href="#" onclick="location.href='@Url.Action("Index")'">Home</a></li>
                                            <li><a href="#" onclick="location.href='@Url.Action("profile")'">Profile</a></li>
                                            <li><a href="#" onclick="location.href='@Url.Action("resources")'">Resources</a></li>
                                            <li><a href="#" onclick="location.href='@Url.Action("disclaimer")'">Disclaimer</a></li>
                                            <li><a href="#" onclick="location.href='@Url.Action("News")'">Mortgage News</a></li>
                                             <li><a href="#" onclick="location.href='@Url.Action("Contact")'">Contact us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="futer_socio">
                                        <ul>
                                            <li><a href="#"><img src="../RaviDhaliwal/images/socio_1.png" alt="" title="" /></a></li>
                                            <li><a href="#"><img src="../RaviDhaliwal/images/socio_2.png" alt="" title="" /></a></li>
                                            <li><a href="#"><img src="../RaviDhaliwal/images/socio_3.png" alt="" title="" /></a></li>
                                            <li><a href="#"><img src="../RaviDhaliwal/images/socio_4.png" alt="" title="" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>


<script type="text/javascript">
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>
<script>
    $(document).ready(function () {
        size_li = $("#myList li").size();
        x = 6;
        $('#myList li:lt(' + x + ')').show();
        $('#loadMore').click(function () {
            x = (x + 6 <= size_li) ? x + 6 : size_li;
            $('#myList li:lt(' + x + ')').show();
        });
        $('#showLess').click(function () {
            x = (x - 6 < 0) ? 6 : x - 6;
            $('#myList li').not(':lt(' + x + ')').hide();
        });
    });
</script>

</html>